@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a, p{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#383838;
line-height:normal;
}
h1, h2, h3, h4, h5, h6{
font-family:Arial, Helvetica, sans-serif;
color:#383838;
}
body {
	line-height: 1;
    overflow-x:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
background-image:url(../images/body-bg2.jpg);
background-attachment: fixed;
font-family:Arial, Helvetica, sans-serif;
}
.wrap{
background-color:#FFFFFF;
width:1000px;
margin:40px auto;
box-shadow: 0px 0px 10px #532401;
}
.header{
height:215px;
background-image:url(../images/header_bot_bg.png);
}
.logo{
margin:30px 0 0 50px;
}
.name{
float:right;
margin:30px 200px 0 0;
}
.nav{
width:930px;
border-top-left-radius:5px;
border-top-right-radius:5px;
background-image:url(../images/nav_bg.png);
margin:3px auto 0 auto;
overflow:hidden;
padding:16px 0;
}
ul.menu li{
display:inline;
padding:18px 0;
}
ul.menu li:hover{
background-image:url(../images/menu_hover.png);
}
.active{
background-image:url(../images/menu_hover.png);
}
ul.menu li a{
background-image:url(../images/menu_separator.png);
background-repeat:repeat-y;
color:#FFFFFF;
text-decoration:none;
text-transform:uppercase;
padding:16px 32px;
font-size:18px;
}
.banner{
width:938px;
margin:30px auto;
border-radius:10px;
}
.left_cont{
width:360px;
height:300px;
padding:0 33px 33px 33px;
float:left;
}
.right_cont{
width:540px;
float:left;
}
.vivek{
padding:20px 0;
}
.vivek img{
float:left;
}
.vivek_text_b{
width:230px;
float:left;
padding:0 0 0 20px;
}
.vivek_text{
color:#000000;
font-size:17px;
margin-top:27px;
}
.comma{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:22px;
}
.image{
border:2px solid #FFFFFF;
box-shadow:0 0  5px #e9e9e9;
}
.image2{
border:2px solid #FFFFFF;
box-shadow:0 0  5px #e9e9e9;
height:82px;
width:110px;
margin:0;
}
.crop{
width:82px;
height:92px;
overflow:hidden;
float:left;
margin: 10px 11px 0 0;
}
h1{
font-size:17px;
font-weight:bold;
text-transform:uppercase;
}
.divider{
float:left;
height:300px;
width:1px;
background-color:#e6e6e6;
margin-right:25px;
}
.text{
font-size:14px;
font-weight:bold;
margin-top:20px;
color:#4b4b4b;
}
.text2{
font-size:14px;
font-weight:bold;
margin-bottom:20px;
color:#4b4b4b;
}
.text3{
font-size:14px;
font-weight:bold;
margin-bottom:20px;
color:#077cbb;
}
.content{
height:330px;
padding-top:10px;
}
.content_founder{
padding:0px 40px;
}



#carousel_inner {
float:left; /* important for inline positioning */
width:1000px; /* important (this width = width of list item(including margin) * items shown */ 
overflow: hidden;  /* important (hide the items outside the div) */
/* non-important styling bellow */
}

#carousel_ul {
position:relative;
left:-127px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
width:9999px; /* important */
/* non-important styling bellow */
padding-bottom:10px;
}

#carousel_ul li{
float: left; /* important for inline positioning of the list items */                                    
/* just styling bellow*/
padding:0px;
height:89px;
width:127px;
background: #000000;
margin-top:10px;
margin-bottom:10px; 
margin-left:0px; 
margin-right:14px; 
}

#carousel_ul li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
cursor:pointer;
cursor: hand; 
border:0px; 
}
#left_scroll, #right_scroll{
float:left; 
height:130px; 
width:15px; 
background: #C0C0C0; 
}
#left_scroll img, #right_scroll img{
border:0; /* remove the default border of linked image */
/*styling*/
cursor: pointer;
cursor: hand;
}

.footer{
width:1000px;
height:220px;
}
.slide{
width:1000px;
height:130px;
}
.copy{
height:90px;
width:1000px;
background-image:url(../images/footer_bg.png);
}
.copy p{
font-size:12px;
color:#9a9a9a;
float:right;
font-weight:bold;
margin:10px 20px 0 0;
}
.content_grad{
padding:0 20px;
width:900px;
margin:30px auto;
background-image:url(../images/grad.jpg);
background-repeat:repeat-y;
border-radius:10px;
border:1px solid #CCCCCC;
}
.content_gallery{
width:880px;
margin:20px auto;
background-image:url(../images/grad.jpg);
background-repeat:repeat-y;
border-radius:10px;
border:1px solid #CCCCCC;
padding:10px;
overflow:auto;
}
h2{
font-size:17px;
text-transform:uppercase;
color:#077cbb;
font-weight:bold;
}
.gall{
font-size:17px;
text-transform:uppercase;
color:#077cbb;
text-decoration:none;
cursor:pointer;
font-weight:bold;
}
.content_grad_acad{
padding:10px;
width:900px;
margin:30px auto;
background-image:url(../images/grad.jpg);
background-repeat:repeat-y;
border-radius:10px;
border:1px solid #CCCCCC;
overflow:auto;
}
.content_grad_acad img{
float:left;
margin-right:20px;
}
h3{
font-size:17px;
text-transform:uppercase;
color:#077cbb;
font-weight:bold;
margin-top:20px;
margin-left:245px;
}
ul.thumb li img{
float:left;
margin:10px 11px 0 0;
}
.founder_slide{
width:250px;
height:150px;
float:left;
margin-right:20px;
}
.formbg{
height:345px;
width:685px;
margin:0 auto;
margin-top:95px;
margin-bottom:40px;
padding:35px 45px 0 0;
		border: 1px solid #ddd;
		background: #fff;
				
		/* -- CSS3 - define rounded corners for the form -- */	
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px; 		
		
		/* -- CSS3 - create a background graident -- */
		background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF)); 
		background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
		
		/* -- CSS3 - add a drop shadow -- */
		-webkit-box-shadow:0px 0 50px #ccc;
		-moz-box-shadow:0px 0 50px #ccc; 
		box-shadow:0px 0 50px #ccc;	
}


	label {	
		font-size: 20px;
		color: #666; 
	}
	
	
	
	
		
	fieldset { border: none; }
	
	#user-details {
	float:left; 
		width: 230px; 
	}
	
	#user-message { 
	    float:right;
		width: 405px;
	}
	
	input, textarea { 		
		padding: 8px; 
		margin: 4px 0 20px 0; 
		background: #eee; 
		width: 220px; 
		font-size: 14px; 
		color: #555; 
		border: 1px #ddd solid;
		
								
	}
	
	textarea {		
		width: 390px; 
		height: 175px; 		 		
	}
	
	input:hover, textarea:hover { 
		background: #fff; 
		/* -- CSS3 Shadow - create a shadow around each input element -- */ 
		-webkit-box-shadow: 0px 0px 4px #aaa;
		-moz-box-shadow: 0px 0px 4px #aaa; 
		box-shadow: 0px 0px 4px #aaa;
		
		/* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */		
		-webkit-transition: background 0.3s linear;	
	}
		
	input.submit { 	
		width: 150px; 
		color: #eee; 
		text-transform: uppercase; 
		margin-top: 10px;
		background-color: #249bd2;
		border: none;
		
		/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
		-webkit-transition: -webkit-box-shadow 0.3s linear;
		
		/* -- CSS3 - Rounded Corners -- */
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px;
		border-radius: 4px; 
						
		/* -- CSS3 Shadow - create a shadow around each input element -- */ 
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#08a6f1), to(#005880)); 
		background: -moz-linear-gradient(25% 75% 90deg,#005880, #08a6f1);		
	} 
	
	input.submit:hover { 		
		-webkit-box-shadow: 0px 0px 20px #555;
		-moz-box-shadow: 0px 0px 20px #aaa; 
		box-shadow: 0px 0px 20px #555;	
		cursor:  pointer; 
	}
	.redbg{
	color:#FFFFFF;
	background:#FF0000;
	padding:2px 30px 2px 30px;
	}
	.onebg{
	color:#FFFFFF;
	background-color:#333333;
	padding:2px 30px 2px 30px;
	}
.map{
box-shadow: 0px 0px 20px #ccc;	
float:left;
width:400px;
height:240px;
margin:25px 40px 0 70px;
background-color:#CCCCCC;
border:2px #ddd solid;
}